<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>

    <link rel="stylesheet" href="css/site.css" />
    <script src="js/library/jquery.js"></script>
    <script src="js/library/vue.js"></script>
    <script src="js/site.js"></script>
</head>
<body onload="checkLogin(false)">
    <div id="content">
        <a href="#" onclick="logout()">Logout</a>
        <table id="messenger">
            <tr>
                <td valign="top">
                    Logged in as: {{information.email}}<br />
                    <input type="text" v-model="search" />
                    <button v-on:click="Search()">Search</button><br />

                    <div v-for="member in result">
                        <button v-on:click="AddContact(member.username)">Add contact</button> 
                        {{member.username}}<br />
                        {{member.email}}<hr />
                    </div><hr />

                    <b>Contacts</b>
                    <div v-for="member in contacts">
                        <a href="#" v-on:click="SelectRecipient(member.username1)">{{member.last_name}}, {{member.first_name}} ({{member.username1}})</a>
                        <span v-if="member.message_count > 0"><b>( {{member.message_count}} )</b></span>
                        <br />
                    </div><hr />

                    <b>Incoming</b>
                    <div v-for="member in uncontacts">
                        <button v-on:click="AddContact(member.username)">Add contact</button> 
                        {{member.username}}<br />
                        {{member.email}}<hr />
                    </div><hr />

                    <b>Groups</b>
                    <div v-for="group in groups">
                        <a href="#" v-on:click="SelectGroup(group.id)">{{group.name}}</a><br />
                    </div><hr />

                    <b>Create group</b>
                    <div>
                        Group name <input type="text" v-model="group_name" />
                        <span>{{messages.group_name}}</span><br />
                        Members <input type="text" v-model="members" />
                        <span>{{messages.members}}</span><br />
                        <span class="small_text">Memberes separate by comma.</span>
                        <button v-on:click="AddGroup()">Create group</button> 
                    </div>
                </td>
                <td valign="top" style="width: 75%">
                    <div v-if="username != ''">
                        <textarea v-model="message"></textarea>
                        <button v-on:click="SendMessage()">Send message to {{username}}</button>
                        <br /><br />
                        <div v-for="member in messages">
                            <span v-if="username == member.username">
                                <b>{{member.email}}</b> <span class="small_text">({{member.insert_time1}})</span><br />
                                <span>{{member.message}} >></span>
                            </span>
                            <span v-else>
                                <span class="small_text float_right">({{member.insert_time1}})</span><br />
                                <span class="float_right"><< {{member.message}}</span>
                            </span><br /><hr />
                        </div>
                        <center>
                            <button v-on:click="NextMessages()">Show next 10 messages</a>
                        </center>
                    </div>

                    <div v-if="group_id != null">
                        <textarea v-model="message"></textarea>
                        <button v-on:click="SendGroupMessage()">Send message</button>
                        <br /><br />
                        <div v-for="group in messages">
                            <span>
                                <b>{{group.sender}}</b> <span class="small_text">({{group.insert_time}})</span><br />
                                <span>{{group.message}} >></span>
                            </span><hr />
                        </div>
                        <center>
                            <button v-on:click="NextMessages()">Show next 10 messages</a>
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="js/home.js"></script>
    <script src="js/home2.js"></script>
</body>
</html>
