<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>

    <link rel="stylesheet" href="css/site.css" />
    <script src="js/library/jquery.js"></script>
    <script src="js/library/vue.js"></script>
    <script src="js/site.js"></script>
</head>
<body onload="checkLogin(false)">
    <div id="content">
        <a href="#" onclick="logout()">Logout</a>
        <table id="messenger">
            <tr>
                <td>
                    <input type="text" v-model="search" />
                    <button v-on:click="Search()">Search</button><br />
                    <div v-for="member in result">
                        <button v-on:click="AddContact(member.username)">Add contact</button> {{member.username}} ({{member.email}})<br />
                    </div>
                    <div v-for="member in contacts">
                        <a href="#" v-on:click="ShowMessages(member.username1)">{{member.username1}} ({{member.email}})</a><br />
                    </div>
                </td>
                <td>
                    <div v-for="member in messages">
                        {{member.email}} ({{member.message}})<br />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="js/home.js"></script>
</body>
</html>
