<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>

    <link rel="stylesheet" href="css/site.css" />
    <script src="js/library/jquery.js"></script>
    <script src="js/library/vue.js"></script>
    <script src="js/site.js"></script>
</head>
<body>
    <div id="content">
        <table id="member_register">
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" v-model="username" />
                    <span>{{messages.username}}</span>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" v-model="password" />
                    <span>{{messages.password}}</span>
                </td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>
                    <input type="password" v-model="confirm_password" />
                    <span>{{messages.confirm_password}}</span>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" v-model="email" />
                    <span>{{messages.email}}</span>
                </td>
            </tr>
            <tr>
                <td>First name</td>
                <td>
                    <input type="text" v-model="first_name" />
                    <span>{{messages.first_name}}</span>
                </td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>
                    <input type="text" v-model="last_name" />
                    <span>{{messages.last_name}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button v-on:click="Register()">Register</button></td>
            </tr>
        </table>
    </div>
    <script src="js/member_register.js"></script>
</body>
</html>
