@page
@model DeskTinyFront.Pages.Member.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/_Layout.cshtml";
}

<script>
    $(function () {
        new Vue({
            el: '#register',

            data: {
                usernameMessage: "",
                username: "",
                passwordMessage: "",
                password: ""
            },

            methods: {
                ApiLogin: function () {
                    var that = this;

                    $.ajax({
                        url: apiUrl + "Member/Register",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "username": that.username,
                            "password": that.password
                        },
                        success: function (data) {
                            if (data.is_valid) {
                                alert("Member successfully created.");

                                window.location = "/Index";
                            }
                            else {
                                that.usernameMessage = data.username;
                                that.passwordMessage = data.password;
                            }
                        }
                    });
                }
            },

            created: function () {
                checkLogin(true);
            }
        });
    });
</script>

<div class="glass center-absolute window-400-550" id="register">
    <h3>Register new member</h3>
    <center>
        <span>{{usernameMessage}}</span>
        <input type="text" placeholder="Email" class="text-390" v-model="username" />

        <span>{{passwordMessage}}</span>
        <input type="password" placeholder="Password" class="text-390" v-model="password" />
        <button v-on:click="ApiLogin()">Register</button><br />
    </center>
</div>
