@page
@model DeskTinyFront.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/_Layout.cshtml";
}

<script>
    $(function () {
        new Vue({
            el: '#dashboard',

            data: {
                username: getCookie("username"),
                email: ""
            },

            methods: {
                GetInfo: function () {
                    var that = this;

                    $.ajax({
                        url: apiUrl + "member/information",
                        type: "GET",
                        dataType: "json",
                        data: that._data,
                        success: function (data) {
                            that.email = data.member_dictionary.email;
                        }
                    });
                }
            },

            created: function () {
                checkLogin();
                this.GetInfo();
            }
        });
    });
</script>

<div class="glass center-absolute window-90prcnt" id="dashboard">
    <div class="window-left window-width-18prcnt">
        <div class="center-relative circle-150-150"></div>
        <a href="#" class="nav">Messages</a><br />
        <a href="#" class="nav">Contacts</a><br />
        <a href="#" class="nav">Logout</a><br />
    </div>
    <div class="window-right window-inset window-width-80 window-height-100">
        <div></div>
    </div>
</div>